header {
  padding-top: 20px;
  padding-left: 30px;
}

p {
  color: green;
  background-color: white;
  font-weight: bold;
}

h3 {
  text-align: center;
}

h2 {
  font-size: 30px;
  word-spacing: 20px;
}

.red{
color: #800000;
}
#title  {

}

#earth {
  filter: blur(5px);
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
}

body {cursor: pointer;}

li {
  color: purple;
  font-weight: bold;
}